.home_img {
  width: 100%;
  z-index: -1;
  margin-bottom: -15%;
  /* ???? what means? */
  mask-image: linear-gradient((to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)));
}
.home_contanier {
  display: flex;
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%;
  max-width: 1500px;
}
.home_row {
  display: flex;
  z-index: -1;
  margin-right: 5%;
  margin-left: 5%;
}
/*  */
